# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Gustavo Araújo - Blog
email: garaujodev@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Analista de sistemas, apaixonado por tecnologia,
  Escrevendo sobre minha jornada como desenvolvedor: aprendizados e conquistas
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://gustavoaraujo.dev" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: garaujodev
github_username:  garaujodev
instagram_username: gustavoraujo

# Build settings
markdown: kramdown
remote_theme: thelehhman/plainwhite-jekyll
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed

plainwhite:
  name: Gustavo Araújo
  tagline: Desenvolvedor
  date_format: "%-d %b, %Y"
  analytics_id: "UA-169303444-1"
  sitemap: true
  search: false
  dark_mode: true
  navigation:
    - title: Sobre
      url: "/about"
  social_links:
    twitter: garaujodev
    github: garaujodev
    linkedIn: in/garaujodev # format: locale/username
  portfolio_image:  "assets/portfolio.png"
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
