---
layout: default
---

{%- assign siteposts = site.posts | where: 'language', page.language -%} {%
assign hero_type = site.linguica.hero_type | default: 'wide-hero' %} {% if
hero_type == 'hero' %} {% include sections/heros/hero.html.liquid %} {% else %}
{% include sections/heros/wide-hero.html.liquid %} {% endif %} {%- if page.title
-%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%} {%- if siteposts.size > 0 -%}
<div class="container">
  <ul class="posts">
    <li
      class="posts-labelgroup"
      id="posts-labelgroup"
      style="display: flex; justify-content: space-between"
    >
      <h1 id="posts-label">Posts</h1>

      <ul>
        <li>
          {%- if page.language == "en" -%}
          <a href="/pt-br">Meus Posts em Português 🇧🇷</a>
          {%- else -%}
          <a href="/">My English Posts 🇺🇸</a>
          {%- endif -%}
        </li>
      </ul>
    </li>

    {%- for post in siteposts -%}
    <li>
      <div class="post-card--mobile">
        {% include components/posts/post-horizontal-card.html.liquid post=post
        %}
      </div>
      <div class="post-card--desktop">
        {% include components/posts/post-vertical-card.html.liquid post=post %}
      </div>
    </li>
    {%- endfor -%}
  </ul>
</div>
<!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
